<div class="module-main" v-if="config">
    <div class="description">
        
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">启用</switch-checkbox>
        </div>

        <div class="actions">
            <button class="w8" @click="save()">保存</button>
            <button class="w12" @click="showApiRef()">显示/隐藏API参考</button>
        </div>

        <script-editor v-model="code" :type="'EVENTS'" v-show="!showRefs"></script-editor>

        <ul class="refs" v-show="showRefs">
            <li v-for="item in refs" v-html="item"></li>
        </ul>
    </div>
</div>