<div class="module-main" v-if="config">
    <div class="description">
        Automatically places/breaks lectern and checks Librarian trades.
        Write script to decide when module should stop.<br>
        Look at <b>villagerRoller.getState()</b> to see current module state and perform correct initial setup.
    </div>

    <div class="module-sections">
        <div class="actions">
            <button class="w8" @click="start()">Start</button>
            <button class="w8" @click="stop()">Stop</button>
            <button class="w8" @click="save()">保存</button>
            <button class="w12" @click="showApiRef()">显示/隐藏API参考</button>
        </div>

        <script-editor v-model="code" :type="'VILLAGER_ROLLER'" v-show="!showRefs"></script-editor>

        <ul class="refs" v-show="showRefs">
            <li v-for="item in refs" v-html="item"></li>
        </ul>
    </div>
</div>