<div class="module-main" v-if="config">
    <div class="description">
        自动挖掘目标方块周围的方块。仅在自动挖掘激活时激活。
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">启用</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                半径
            </legend>
            <div>
                <input type="text" class="w3" v-model="config.radius" @change="update()">
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.preview" @change="update()">实时预览</switch-checkbox>
            </legend>
            <div class="section-description">
                实时预览可以挖掘的方块。
            </div>
        </fieldset>
    </div>
</div>