<div class="module-main" v-if="config">
    <div class="description">
        欺骗服务器认为你的每次攻击都是暴击。
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">启用</switch-checkbox>
        </div>
        <div class="description">
            某些服务器会认为你在空中使用自动暴击时出现了卡顿，这可能导致服务器尝试将你回滚到其他位置，从而引发问题。遇到这种情况时，请激活下方的设置。
        </div>
        <div>
            <switch-checkbox v-model="config.onlyOnGround" @change="update()">始终在地面上</switch-checkbox>
        </div>
    </div>
</div>