<div class="module-main" v-if="config">
    <div class="description">
        有时如果你在靠近地面（1-2格）时关闭飞行黑客，你可能会受到大量摔落伤害并死亡（即使启用了无摔落伤害）。
        解决方法：在关闭飞行黑客之前，向上飞行（即使0.5秒也足够了）。
        如果你向上移动，服务器会重置内部摔落距离值并将其设为零。
        如果你长时间向下移动，服务器会累积摔落距离，这就是你受到摔落伤害的原因。
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">启用</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.overrideFlyingSpeed" @change="update()">覆写最大速度</switch-checkbox>
            </legend>
            <div class="flex-row">
                <span class="field-description">飞行速度（默认0.05）:</span>
                <input type="text" class="w4" v-model="config.flyingSpeed" @change="update()">
            </div>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                onGround标志
            </legend>
            <radio name="on-ground" :value="false" v-model="config.onGroundFlag" @change="update()">OnGround = false</radio>
            <radio name="on-ground" :value="true" v-model="config.onGroundFlag" @change="update()">OnGround = true</radio>
            <div class="section-description">
                飞行时此模组会覆盖MovePlayerPacket中的onGround标志。两个选项在原版中都工作良好。对于快速破坏黑客，禁用飞行惩罚选项你需要设置OnGround = true。
            </div>
        </fieldset>
    </div>
</div>