<div class="module-main kill-aura" v-if="config">
    <div class="description">
        自动攻击范围内的实体，使用当前手中物品。
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">启用</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                攻击延迟
            </legend>
            <div>
                <div>
                    <radio name="method" value="ConstDelay" v-model="config.delayMode" @change="update()">固定刻延迟</radio>
                </div>
                <div>
                    <radio name="method" value="Cooldown" v-model="config.delayMode" @change="update()">当前物品冷却</radio>
                </div>
                <div v-if="config.delayMode == 'ConstDelay'">
                    <div class="flex-row">
                        <span class="field-description">刻间隔:</span>
                        <input type="text" class="w3" v-model="config.attackTickInterval" @change="update()">
                    </div>
                    <div class="section-description">
                        杀戮光环攻击频率。1 = 最快（每刻攻击），20 = 每秒攻击一次，以此类推。换句话说：每X刻攻击一次。
                    </div>
                </div>
                <div v-if="config.delayMode == 'Cooldown'">
                    <div class="flex-row">
                        <span class="field-description">额外刻数:</span>
                        <input type="text" class="w3" v-model="config.extraTicks" @change="update()">
                    </div>
                    <div class="section-description">
                        冷却结束后等待额外刻数。可以为负数，在这种情况下模组会在冷却前攻击。
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.overrideAttackRange" @change="update()">覆盖攻击范围</switch-checkbox>
            </legend>
            <div class="flex-row">
                <span class="field-description">最大范围:</span>
                <input type="text" class="w3" v-model="config.maxRange" @change="update()">
            </div>
            <div class="section-description">
                如果禁用则使用当前攻击范围，可能被Reach黑客修改。<br>
                在Fabric版本中禁用时，将无法检测到被其他模组修改的攻击范围。
            </div>
        </fieldset>

        <fieldset>
            <legend>
                按角度限制目标覆盖范围
            </legend>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class="field-description">水平角度差:</span>
                        </td>
                        <td>
                            <input type="text" class="w3" v-model="config.maxHorizontalAngle" @change="update()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="field-description">垂直角度差:</span>
                        </td>
                        <td>
                            <input type="text" class="w3" v-model="config.maxVerticalAngle" @change="update()">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="section-description">
                以度为单位。值180表示无限制。但为此目的最好将字段留空。<br>
                对于每个可能的目标，模组计算攻击目标需要旋转多远。如果这个角度超过指定限制，模组将不会攻击这个目标。<br>
                注意：模组不够智能，无法攻击碰撞箱边缘。它总是攻击实体边界框的中心。角度相对于这个点测量。
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.attackAll" @change="update()">每刻攻击多个目标</switch-checkbox>
            </legend>
            <div class="section-description">
                模组横扫攻击范围内的所有目标。只有第一个目标（最近的）受到全额伤害。
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoRotate" @change="update()">自动旋转</switch-checkbox>
            </legend>
            <div class="section-description">
                每次杀戮光环攻击目标时自动将你旋转到目标方向。对客户端没有影响。<br>
                启用时杀戮光环将无法从船/矿车或其他可骑乘实体上工作。
            </div>
        </fieldset>

        <fieldset class="flex-column" v-if="priorityList">
            <legend>优先级</legend>

            <template v-if="state == 'list'">
                <div class="actions">
                    <button class="w10" @click="openAddNew()">添加优先级条目</button>
                    <button class="w12" @click="openCreateNewCustomEntry()">创建自定义优先级条目...</button>
                </div>
                <table class="bordered">
                    <tr v-for="(entry, index) in config.priorities">
                        <td>
                            <switch-checkbox v-model="entry.enabled" @change="update()"></switch-checkbox>
                        </td>
                        <td>
                            <div>{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </td>
                        <td>
                            <div class="flex-row">
                                <button @click="moveUp(index)">🡅</button>
                                <button @click="moveDown(index)">🡇</button>
                                <button class="w5" @click="removePriorityEntry(index)">删除</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </template>

            <template v-if="state == 'add'">
                <div class="actions">
                    <button class="w10" @click="state = 'list'">返回列表</button>
                </div>
                <div class="flex-row">
                    <span>过滤:</span>
                    <input type="text" class="search"
                        v-model="search"
                        @input="filterPriorityList()">
                </div>
                <table class="bordered">
                    <tr v-for="entry in priorityListFiltered">
                        <td>
                            <div>{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </td>
                        <td>
                            <button class="w5" @click="deleteCustomEntry(entry)" v-if="entry.className && !entryInPrioritiesList(entry)">删除</button>
                        </td>
                        <td>
                            <button class="w5" @click="addPriorityEntry(entry)" v-if="!entryInPrioritiesList(entry)">添加</button>
                        </td>
                    </tr>
                </table>
            </template>

            <template v-if="state == 'create-custom'">
                <div class="actions">
                    <button class="w8" @click="state = 'list'">返回列表</button>
                    <button class="w8" @click="createNewCustomEntry()">创建</button>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span>实体名称:</span>
                            </td>
                            <td>
                                <input type="text" class="w30" v-model="newCustomEntry.name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>描述:</span>
                            </td>
                            <td>
                                <input type="text" class="w30" v-model="newCustomEntry.description">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>类名:</span>
                            </td>
                            <td>
                                <input type="text" class="w30" v-model="newCustomEntry.className">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="section-description">
                    你可以从实体透视的所有实体列表中复制类名。示例：net.minecraft.world.entity.animal.Cow
                </div>
            </template>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                <switch-checkbox v-model="config.scriptEnabled" @change="update()">自定义脚本</switch-checkbox>
            </legend>
            <template v-if="config.scriptEnabled">
                <div class="section-description">
                    编写脚本来决定杀戮光环是否应该攻击特定实体。<br>
                    使用 <b>id</b> 变量查看当前实体的id。<br>
                    如果攻击当前实体没问题则返回 <b>true</b>，如果不行则返回 <b>false</b>。<br>
                    示例： <pre>return game.entities.getName(id) != "your_friend";</pre>
                </div>
                <div class="actions">
                    <button class="w8" @click="saveCode()">保存</button>
                    <button class="w12" @click="showApiRef()">显示/隐藏API参考</button>
                </div>
                <script-editor v-model="code" :type="'KILL_AURA'" v-show="!showRefs"></script-editor>
                <ul class="refs" v-show="showRefs">
                    <li v-for="item in refs" v-html="item"></li>
                </ul>
            </template>
        </fieldset>
    </div>
</div>